---
import Acolayout from "../../layouts/Acolayout.astro";
---

<Acolayout title="Arabic Collections Online">
  <main class="main container-fluid">
    <h2 class="page-title" lang="en" dir="ltr"><span>Other Resources</span></h2>
    <h2 class="page-title" lang="ar" dir="rtl"><span>المواقع الأخرى</span></h2>
    <div class="col col-l" lang="en" dir="ltr">
      <ul class="resources">
        <li>
          <h3>
            <a href="http://corpus.quran.com" target="_blank"
              >The Quranic Arabic Corpus</a
            >
          </h3>
          <div class="link">http://corpus.quran.com/</div>
        </li>
        <li>
          <h3>
            <a href="http://www.altafsir.com/" target="_blank">Al­tafsir</a>
          </h3>
          <div class="link">http://www.altafsir.com</div>
        </li>
        <li>
          <h3>
            <a href="http://www.waqfeya.net/" target="_blank"
              >Almaktaba alwaqfiyya</a
            >
          </h3>
          <div class="link">http://www.waqfeya.net</div>
        </li>
        <li>
          <h3>
            <a
              href="http://www.nlm.nih.gov/hmd/arabic/welcome.html"
              target="_blank"
              >Islamic Medical Manuscripts at the National Library of Medicine</a
            >
          </h3>
          <div class="link">http://www.nlm.nih.gov/hmd/arabic/welcome.html</div>
        </li>
        <li>
          <h3>
            <a href="http://shamela.ws/" target="_blank"
              >Al­maktaba al­shamila</a
            >
          </h3>
          <div class="link">http://shamela.ws</div>
        </li>
        <li>
          <h3><a href="http://www.alwaraq.net/" target="_blank">Alwaraq</a></h3>
          <div class="link">http://www.alwaraq.net</div>
        </li>
        <li>
          <h3>
            <a href="http://guides.nyu.edu/mideast" target="_blank"
              >The Middle Eastern and Islamic Studies Collection at NYU</a
            >
          </h3>
          <div class="link">http://guides.nyu.edu/mideast</div>
        </li>
        <li>
          <h3>
            <a
              href="http://libguides.princeton.edu/NECollections"
              target="_blank">The Near East Collections at Princeton</a
            >
          </h3>
          <div class="link">http://libguides.princeton.edu/NECollections</div>
        </li>
        <li>
          <h3>
            <a
              href="https://www.library.cornell.edu/colldev/mideast"
              target="_blank"
              >The Middle East and Islamic Studies Collection at Cornell</a
            >
          </h3>
          <div class="link">
            https://www.library.cornell.edu/colldev/mideast
          </div>
        </li>
        <li>
          <h3>
            <a
              href="http://library.columbia.edu/locations/global/mideast.html"
              target="_blank"
              >The Middle East and Islamic Studies Collection at Columbia</a
            >
          </h3>
          <div class="link">
            http://library.columbia.edu/locations/global/mideast.html
          </div>
        </li>
        <li>
          <h3>
            <a
              href="http://www.aub.edu.lb/ulibraries/Pages/index.aspx"
              target="_blank">AUB (American University of Beirut) Libraries</a
            >
          </h3>
          <div class="link">
            http://www.aub.edu.lb/ulibraries/Pages/index.aspx
          </div>
        </li><li>
          <h3>
            <a href="http://www.na.ae/en/" target="_blank"
              >UAE National Archives (United Arab Emirates National Archives)</a
            >
          </h3>
          <div class="link">http://www.na.ae/en/</div>
        </li><li>
          <h3>
            <a href="http://ocp.hul.harvard.edu/ihp/" target="_blank"
              >Islamic Heritage project</a
            >
          </h3><div class="link">http://ocp.hul.harvard.edu/ihp/</div>
        </li>
      </ul>
    </div>
    <div class="col col-r" lang="ar" dir="rtl">
      <ul class="resources">
        <li>
          <h3>
            <a href="http://corpus.quran.com" target="_blank"
              >مورد لغوي يشرح قواعد اللغة العربية والنحو والصرف لكل كلمة في
              القرآن</a
            >
          </h3>
          <div class="link">http://corpus.quran.com</div>
        </li>
        <li>
          <h3>
            <a href="http://www.altafsir.com/" target="_blank"
              >تعليقات عربية وانجليزية من وجهات نظر مختلفة</a
            >
          </h3>
          <div class="link">http://www.altafsir.com</div>
        </li>
        <li>
          <h3>
            <a href="http://www.waqfeya.net/" target="_blank"
              >مكتبة من الملفات العربية الممسوحة ضوئيا</a
            >
          </h3>
          <div class="link">http://www.waqfeya.net</div>
        </li>
        <li>
          <h3>
            <a
              href="http://www.nlm.nih.gov/hmd/arabic/welcome.html"
              target="_blank"
              >الطب الإسلامي والعلوم في العصور الوسطى والدور الهام الذي لعبته في
              تاريخ أوروبا</a
            >
          </h3>
          <div class="link">http://www.nlm.nih.gov/hmd/arabic/welcome.html</div>
        </li>
        <li>
          <h3>
            <a href="http://shamela.ws" target="_blank"
              >مكتبة من النصوص العربية للتنزيل</a
            >
          </h3>
          <div class="link">http://shamela.ws</div>
        </li>
        <li>
          <h3>
            <a href="http://www.alwaraq.net/" target="_blank"
              >بحث في النصوص العربية الفصحى</a
            >
          </h3>
          <div class="link">http://www.alwaraq.net</div>
        </li>
        <li>
          <h3>
            <a href="http://guides.nyu.edu/mideast" target="_blank"
              >مجموعة دراسات الشرق الاوسط الاسلامية في جامعة نيويورك</a
            >
          </h3>
          <div class="link">http://guides.nyu.edu/mideast</div>
        </li>
        <li>
          <h3>
            <a
              href="http://libguides.princeton.edu/NECollections"
              target="_blank">مجموعة الشرق الأدنى في جامعة برنستون</a
            >
          </h3>
          <div class="link">http://libguides.princeton.edu/NECollections</div>
        </li>
        <li>
          <h3>
            <a
              href="https://www.library.cornell.edu/colldev/mideast"
              target="_blank"
              >الشرق الأوسط ومجموعة الدراسات الأسلامية في جامعة كورنيل</a
            >
          </h3>
          <div class="link">
            https://www.library.cornell.edu/colldev/mideast
          </div>
        </li>
        <li>
          <h3>
            <a
              href="http://library.columbia.edu/locations/global/mideast.html"
              target="_blank"
              >الشرق الأوسط و مجموعة الدراسات الأسلامية في جامعة كولومبيا</a
            >
          </h3>
          <div class="link">
            http://library.columbia.edu/locations/global/mideast.html
          </div>
        </li>
        <li>
          <h3>
            <a
              href="http://www.aub.edu.lb/ulibraries/Pages/index.aspx"
              target="_blank">مكتبات الجامعة الأمريكية في لبنان</a
            >
          </h3>
          <div class="link">
            http://www.aub.edu.lb/ulibraries/Pages/index.aspx
          </div>
        </li><li>
          <h3>
            <a href="http://www.na.ae/ar/default.aspx" target="_blank"
              >الامارات العربية المتحدة - الارشيف الوطني</a
            >
          </h3>
          <div class="link">http://www.na.ae/ar/default.aspx</div>
        </li><li>
          <h3>
            <a href="http://ocp.hul.harvard.edu/ihp/" target="_blank"
              >التراث الاسلامي</a
            >
          </h3><div class="link">http://ocp.hul.harvard.edu/ihp</div>
        </li>
      </ul>
    </div>
  </main>
</Acolayout>
<style>
  main {
    min-height: 400px;
    padding-top: 35px;
  }
  main h2.page-title[lang="en"] {
    margin-top: 0;
    float: left;
    clear: left;
  }
  main h2.page-title {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 0px 0px 1px white;
    margin: 0 0 1rem 0;
  }
  [lang="ar"] {
    font-family: "Amiri", "Times New Roman", serif;
    line-height: 1.6;
  }
  @media (min-width: 768px) {
    main h2.page-title[lang="en"] {
      margin-top: 1rem;
      margin-bottom: 0;
    }
    main h2.page-title[lang="ar"] {
      margin: 1rem 0 1.5rem;
    }
    main h2.page-title {
      font-size: 2rem;
    }
  }

  @media (min-width: 768px) {
    main .col-l[lang="en"] {
      float: left;
    }
    main .col-r[lang="ar"] {
      float: right;
    }
  }

  @media (min-width: 768px) {
    main .col-l {
      width: 46%;
    }
    main .col-r {
      width: 46%;
    }
    main .col-r {
      margin-top: 0em;
      padding: 0 0 0;
      box-shadow: none;
      border-top: none;
    }
  }
  main .col-l {
    clear: both;
    margin-bottom: 4rem;
  }
  ul.resources {
    padding: 0px;
    list-style-type: none;
  }

  main ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  main li {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
    main a:link,
  main a:focus {
    font-weight: bold;
  }
  a {
    color: #3f3492;
    text-decoration: none;
  }

  a {
    background: transparent;
  }
  ul.resources li:first-child {
    margin-top: 0em;
  }
  ul.resources li {
    margin-top: 1.5rem;
  }
  ul.resources h3 {
    font-size: 1em;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
  }

  main h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1rem 0 1rem;
    text-shadow: 0px 0px 1px white;
  }

  ul.resources .link {
    margin-bottom: 0.3em;
    margin-bottom: 0.3rem;
    color: #555;
    font-size: 0.9rem;
  }
</style>
